body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: #FFF5D9;
  text-align: center;
}
main {
  margin-top: 40px
}
.accordion {
  width:80%;
  margin: 30px auto;
  display:flex;
  flex-direction: column;
  text-align: left;
}
.accordion>:last-child{
  border-bottom: 0.1px solid rgb(209, 207, 207);
}
h1 {
  font-size: 1.5rem;
}
.item {
  border: 0.1px solid rgb(209, 207, 207);
  border-bottom:none;
  background-color: white;
  padding: 20px;
  transition: margin-bottom 0.4s ease-in;

}
.item.open {
  margin-bottom: 10px;
  border-bottom: 0.1px solid rgb(209, 207, 207);
}

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.4s ease;
}
.header.open {
  color: #146EF6;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out,
    color 0.4s ease;
  line-height: 1.4;
}

.panel.open {
  max-height: 1000px;
  color: rgb(86, 83, 83);
}

.panel-content {
  padding-top: 10px;
}

.icon {
  transition: transform 0.8s ease;

}


.icon.up {
  transform: rotate(180deg);
}

/* Rotation for the down caret */
.icon.down {
  transform: rotate(0deg);
}